{% extends "overall.html" %}
{% load urlparams %}

{% block title %}Animes - {{ block.super }}{% endblock %}

{% block head %}
<link href="/static/css/index.css" rel="stylesheet">
<link href="/static/css/anime_list.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="content">
    <div class="head_box">
        <h1>Animes</h1>
        <input id="search_input" type="text" placeholder="Rechercher" value="{{ request.GET.search }}" onkeyup="event.keyCode === 13 && send(this.value)">
    </div>
    <div class="anime_list">
        {% for anime in animes %}
            {% include "animes/anime_snippet.html" %}
        {% endfor %}
    </div>

    <div class="pagination">
        <span class="step-links">
            {% if animes.has_previous %}
                <a href="{% urlparams page='1' search=request.GET.search %}">&laquo; 1</a>
                <a href="{% urlparams page=animes.previous_page_number search=request.GET.search %}">Prev</a>
            {% endif %}

            <span class="current">
                {{ animes.number }}
            </span>

            {% if animes.has_next %}
                <a href="{% urlparams page=animes.next_page_number search=request.GET.search %}">Next</a>
                <a href="{% urlparams page=animes.paginator.num_pages search=request.GET.search %}">{{ animes.paginator.num_pages }} &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}

{% block footer %}
<script>
function send (search) {
    window.location = `?search=${search}`;
}
</script>
{% endblock %}
