{% extends "overall.html" %}
{% load static %}
{% load append %}
{% load exclude %}
{% load split %}
{% load urlparams %}

{% block title %}Animes - {{ block.super }}{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/anime_list.css' %}">
{% endblock %}

{% block content %}
<div class="content">
    <div class="head_box">
        <h1>Animes</h1>
        <input id="search_input" type="text" placeholder="Rechercher" value="{{ request.GET.search }}" onkeyup="event.keyCode === 13 && send(this.value)">
        <div class="tags">
        {% for tag in search_tags %}
            <a href="{% urlparams page='1' search=request.GET.search tags=request.GET.tags|exclude:tag.name %}" class="tag" style="background-color: {{ tag.color }}" title="Retirer le tag">
                <span>{{ tag.name }} x</span>
            </a>
        {% endfor %}
            <div style="position: relative">
                <input id="add_tag_checkbox" class="hidden" type="checkbox" />
                <label class="add_tag tag" for="add_tag_checkbox" >+</label>
                <div class="taglist hidden">
                {% for tag in tags %}
                    {% if tag.name in request.GET.tags|split:',' %}
                    <span>{{ tag.name }}</span>
                    {% else %}
                    <a href="{% urlparams search=request.GET.search tags=request.GET.tags|append:tag.name %}">{{ tag.name }}</a>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="anime_list">
        {% for anime in animes %}
            {% include "animes/anime_snippet.html" %}
        {% endfor %}
    </div>

    <div class="pagination">
    {% if animes.has_previous %}
        <a href="{% urlparams page='1' search=request.GET.search tags=request.GET.tags %}">&laquo; 1</a>
        <a href="{% urlparams page=animes.previous_page_number search=request.GET.search tags=request.GET.tags %}">PREC</a>
    {% else %}
        <div>&laquo; 1</div>
        <div>PREC</div>
    {% endif %}

        <div class="current">{{ animes.number }}</div>

    {% if animes.has_next %}
        <a href="{% urlparams page=animes.next_page_number search=request.GET.search tags=request.GET.tags %}">SUIV</a>
        <a href="{% urlparams page=animes.paginator.num_pages search=request.GET.search tags=request.GET.tags %}">{{ animes.paginator.num_pages }} &raquo;</a>
    {% else %}
        <div>SUIV</div>
        <div>{{ animes.paginator.num_pages }} &raquo;</div>
    {% endif %}
    </div>
</div>
{% endblock %}

{% block footer %}
<script lang="js" type="module">
    import { getFavAnimes } from '{% static "js/user_data.js" %}';

    const animes = document.querySelectorAll('.anime_snippet');
    const favIcons = document.querySelectorAll('.fav_icon');
    const favAnimes = getFavAnimes();
    for (const [i, anime] of animes.entries()) {
        if (favAnimes.includes(anime.dataset.anime)) {
            favIcons[i].classList.remove('hidden');
        }
    }

    const tags = '{{ request.GET.tags }}';
    window.send = (search) => {
        window.location = `?search=${search}${ tags.length ? `&tags=${tags}` : '' }`;
    }
</script>
{% endblock %}
