{% load split %}

<div class="anime_snippet">
    {% if user.is_superuser %}
    <a href="{% url 'admin:animes_anime_change' anime.id %}" class="to_admin" title="Ouvrir dans l'admin">
        @
    </a>
    {% endif %}
    <a href="{% url 'animes:anime_detail' anime.slug %}">
        <div class="image_container">
            <svg width="64" height="64" viewBox="0 0 24 24"><path fill="currentColor" d="M5 21q-.825 0-1.413-.587Q3 19.825 3 19V5q0-.825.587-1.413Q4.175 3 5 3h14q.825 0 1.413.587Q21 4.175 21 5v14q0 .825-.587 1.413Q19.825 21 19 21Zm0-2h14V5H5v14Zm1-2h12l-3.75-5l-3 4L9 13Zm-1 2V5v14Z"/></svg>
            {% if anime.get_images.small_image %}
            <img src="https://wsrv.nl/?url={{ anime.get_images.small_image }}" onerror="this.style.display='none'" />
            {% elif anime.get_images.image %}
            <img src="https://wsrv.nl/?url={{ anime.get_images.image }}" onerror="this.style.display='none'" />
            {% endif %}
        </div>
        <div class="infos">
            <span class="name">{{ anime.name }}</span>
            <div class="description">
                <span class="episode">{{ anime.episodes_count }} épisode{{ anime.episodes_count|pluralize:"s" }}</span>
                <div class="versions">
                    <span>{{ anime.versions|split:","|join:", " }}</span>
                </div>
            </div>
            {% comment %} <div class="tags">
            {% for tag in anime.tags.all %}
                <div class="tag shadowed rounded" style="background-color:{{ tag.color }}">
                    <span>{{ tag.name|title }}</span>
                </div>
            {% endfor %}
            </div> {% endcomment %}
        </div>
    </a>
</div>
