{% extends "overall.html" %}
{% load static %}
{% load numberformat %}
{% load split %}
{% load urlparams %}

{% block title %}{{ anime.name }} - {{ block.super }}{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/anime_detail.css' %}">
{% endblock %}

{% block content %}
<div class="anime">
    <div class="title">
        <h1 class="anime_name">
            {{ anime.name }}
        </h1>
        <span class="fav" onclick="favAnime()">
            {% include "icons/round-star-outline.html" %}
        </span>
        <span class="fav hidden" onclick="unfavAnime()">
            {% include "icons/round-star.html" with fill="#ffdf00" %}
        </span>
        {% if user.is_superuser %}
        <h1>
            <a href="{% url 'admin:animes_anime_change' anime.id %}" class="to_admin" title="Ouvrir dans l'admin">@</a>
        </h1>
        {% endif %}
    </div>
    <div class="content">
        <div class="anime_detail">
            <div class="slideshow">
                {% for images in anime.images.all %}
                <img {% if not forloop.first %}class="hidden" {% endif %}src="https://wsrv.nl/?url={{ images.image }}" />
                {% endfor %}
                <a class="previous hidden">
                    <span onclick="slideShow(-1)">
                        {% include "icons/round-keyboard-arrow-left.html" %}
                    </span>
                </a>
                <a class="next{% if anime.images.count < 2 %} hidden{% endif %}">
                    <span onclick="slideShow(1)">
                        {% include "icons/round-keyboard-arrow-right.html" %}
                    </span>
                </a>
            </div>
            <div class="tags">
            {% for tag in anime.tags.all %}
                <a class="tag shadowed rounded" href="{% url 'animes:anime_list' %}{% urlparams tags=tag.name %}" style="background-color:{{ tag.color }}">
                    <span>{{ tag.name|title }}</span>
                </a>
            {% endfor %}
            </div>
            <ul>
                <li>
                    Version{{ anime.versions|split:","|length|pluralize:"s" }} : {{ anime.versions|split:","|join:", " }}
                </li>
                <li>
                    Saison{{ seasons|pluralize:"s" }} : {{ seasons }}
                </li>
                <li>
                    Épisode{{ anime.episodes.count|pluralize:"s" }} : {{ anime.episodes.count }}
                </li>
                <li>
                    Ajouté : {{ anime.episodes.first.pub_date|date:"F Y"|title }}{% if anime.episodes.first.pub_date|date:"F Y" != anime.episodes.last.pub_date|date:"F Y" %} - {{ anime.episodes.last.pub_date|date:"F Y"|title }}{% endif %}
                </li>
            </ul>
            <p class="description">{{ anime.description|linebreaks }}</p>
        </div>
        <div class="episodes_lists">
            <h1>
                Épisodes
            </h1>
            <div class="episodes_container">
            {% for version, seasons_list in versions.items %}
                <div class="versions">
                    <div class="version">
                        {{ version }}
                    </div>
                    <div class="seasons">
                    {% for season in seasons_list %}
                        {% if versions|length > 1 or seasons_list|length > 1%}
                        <div id="{{ version }}-{{ forloop.counter0 }}" class="season{% if forloop.parentloop.first and forloop.first %} selected{% endif %}" onclick="displaySeason('{{ version }}-{{ forloop.counter0 }}')">
                            {% include "icons/round-keyboard-arrow-right.html" with size="24" %}
                            {{ season.name }}
                        </div>
                        {% endif %}
                        <ul class="episodes{% if not forloop.parentloop.first or not forloop.first %} toggled_off{% endif %}">
                        {% for episode in season.values %}
                            <li class="episode" data-episode="{{ episode.slug }}">
                                <a href="{% url 'animes:episode' anime_slug=anime.slug ep_slug=episode.slug %}">
                                    {{ episode.type|title }}{% if episode.number %} {{ episode.number|numberformat }}{% endif %}
                                </a>
                            </li>
                        {% endfor %}
                        </ul>
                    {% endfor %}
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<script lang="js" type="module">
    import { isFavAnime, favAnime, unfavAnime, getSeenEpisodes } from '{% static "js/user_data.js" %}';

    const anime = '{{ anime.slug }}';
    const favs = document.querySelectorAll('.title .fav');
    if (isFavAnime(anime)) {
        favs[0].classList.add('hidden');
        favs[1].classList.remove('hidden');
    }

    window.favAnime = () => {
        favs[0].classList.add('hidden');
        favs[1].classList.remove('hidden');
        favAnime(anime);
    };

    window.unfavAnime = () => {
        favs[0].classList.remove('hidden');
        favs[1].classList.add('hidden');
        unfavAnime(anime);
    };

    const episodes = document.querySelectorAll('.episode');
    const seenEpisodes = getSeenEpisodes(anime);
    for (const episode of episodes) {
        if (seenEpisodes.includes(episode.dataset.episode)) {
            episode.classList.add('seen');
        }
    }

    let imageIndex = 0;
    const images = document.querySelectorAll('.slideshow img')
    const previous = document.querySelector('.previous');
    const next = document.querySelector('.next');

    const seasons = document.querySelectorAll('.season');
    const episodesList = document.querySelectorAll('.episodes');

    window.displaySeason = (id) => {
        for (const [i, season] of seasons.entries()) {
            if (season.id === id) {
                season.classList.toggle('selected');
                episodesList[i].classList.toggle('toggled_off');
            } else {
                season.classList.remove('selected');
                episodesList[i].classList.add('toggled_off');
            }
        }
    }

    window.slideShow = (n) => {
        imageIndex += n;
        for (const [i, image] of images.entries()) {
            if (i === imageIndex) {
                image.classList.remove('hidden');
            } else {
                image.classList.add('hidden');
            }
        }
        if (imageIndex === 0) {
            previous.classList.add('hidden');
        } else {
            previous.classList.remove('hidden');
        }
        if (imageIndex === images.length - 1) {
            next.classList.add('hidden');
        } else {
            next.classList.remove('hidden');
        }
    }
</script>
{% endblock %}
