{% extends "overall.html" %}

{% block title %}Animes - {{ block.super }}{% endblock %}

{% block head %}
<link href="/static/css/index.css" rel="stylesheet">
<link href="/static/css/anime_list.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="content">
    <div class="head_box">
        <h1>Animes</h1>
        <input id="search_input" type="text" placeholder="Rechercher" onkeyup="filterAnimes(this.value); setSearchParams(this.value);" focus>
    </div>
    <div class="anime_list">
    {% for anime in animes %}
        {% include "animes/anime_snippet.html" %}
    {% endfor %}
    </div>
</div>
{% endblock %}

{% block footer %}
<script lang="js">
    const animes = document.querySelectorAll('.anime_snippet');
    const params = new URLSearchParams(window.location.search);
    const search = params.get('search') || '';

    function setSearchParams(value) {
        const url = new URL(window.location);
        if (value) {
            url.searchParams.set('search', value);
        } else {
            url.searchParams.delete('search');
        }
        window.history.pushState({}, '', url);
    }

    function filterAnimes(value) {
        const lowerValue = value.toLocaleLowerCase();
        for (const animeElement of animes) {
            const animeName = animeElement.children[1].children[1].children[0].innerHTML;
            if (animeName.toLocaleLowerCase().includes(lowerValue)) {
                animeElement.classList.remove('hidden');
            } else {
                animeElement.classList.add('hidden');
            }
        }
    }

    filterAnimes(search);
    document.getElementById('search_input').value = search;
</script>
{% endblock %}
