{% load split %}

<div class="anime_snippet" data-anime="{{ anime.slug }}">
    <a href="{% url 'animes:anime_detail' anime.slug %}">
        <div class="image_container">
            {% include "icons/image-outline.html" with size="64" %}
            {% if anime.get_images.small_image %}
            <img src="https://wsrv.nl/?url={{ anime.get_images.small_image }}" onerror="this.style.display='none'" />
            {% elif anime.get_images.image %}
            <img src="https://wsrv.nl/?url={{ anime.get_images.image }}" onerror="this.style.display='none'" />
            {% endif %}
        </div>
        <div class="infos">
            <span class="name">{{ anime.name }}</span>
            <div class="description">
                <span class="episode">{{ anime.episodes_count }} épisode{{ anime.episodes_count|pluralize:"s" }}</span>
                <div class="versions">
                    <span>{{ anime.versions|split:","|join:", " }}</span>
                </div>
            </div>
            {% comment %} <div class="tags">
            {% for tag in anime.tags.all %}
                <div class="tag shadowed rounded" style="background-color:{{ tag.color }}">
                    <span>{{ tag.name|title }}</span>
                </div>
            {% endfor %}
            </div> {% endcomment %}
        </div>
    </a>
    <span class="icons">
        <span class="fav_icon hidden" title="Vous suivez cet anime">
            {% include "icons/round-star.html" with size="18" %}
        </span>
        {% if user.is_superuser %}
        <a href="{% url 'admin:animes_anime_change' anime.id %}" class="to_admin" title="Ouvrir dans l'admin">
            {% include "icons/admin-outline.html" with size="18" %}
        </a>
        {% endif %}
    </span>
</div>
