<div class="episode_snippet">
    {% if user.is_superuser %}
    <a href="{% url 'admin:animes_episode_change' episode.id %}" class="to_admin" title="Ouvrir dans l'admin">
        @
    </a>
    {% endif %}
    <a href="{% url 'animes:episode' slug=episode.anime.slug value=episode.value %}">
        <div class="image_container">
            {% if episode.anime.small_image %}
            <img src="{{ episode.anime.small_image }}" alt="{{ episode.name }}" />
            {% else %}
            <svg width="64" height="64" viewBox="0 0 24 24"><path fill="currentColor" d="M5 21q-.825 0-1.413-.587Q3 19.825 3 19V5q0-.825.587-1.413Q4.175 3 5 3h14q.825 0 1.413.587Q21 4.175 21 5v14q0 .825-.587 1.413Q19.825 21 19 21Zm0-2h14V5H5v14Zm1-2h12l-3.75-5l-3 4L9 13Zm-1 2V5v14Z"/></svg>
            {% endif %}
        </div>
        <div class="infos">
            <div class="name">
                {{ episode.anime.name }}
            </div>
            <div class="description">
                <div class="episode">
                    {{ episode.type|title }}
                    {% if episode.number %}
                    <span>
                        {{ episode.number|floatformat }}
                    </span>
                    {% endif %}
                </div>
                {% if episode.saison > 1 %}
                <div class="saison">
                    Saison
                    <span>
                        {{ episode.saison }}
                    </span>
                </div>
                {% endif %}
                <div class="version">
                    {{ episode.version }}
                </div>
            </div>
        </div>
    </a>
</div>
