{% load numberformat %}

<div class="episode_snippet" data-anime="{{ episode.anime.slug }}" data-episode="{{ episode.slug }}">
    <span class="icons">
        <span class="seen_icon hidden" title="Episode vu">
            {% include "icons/check.html" with size="18" %}
        </span>
        <span class="fav_icon hidden" title="Vous suivez cet anime">
            {% include "icons/round-star.html" with size="18" %}
        </span>
        {% if user.is_superuser %}
        <a href="{% url 'admin:animes_episode_change' episode.id %}" class="to_admin" title="Ouvrir dans l'admin">
            {% include "icons/admin-outline.html" with size="18" %}
        </a>
        {% endif %}
    </span>
    <a href="{% url 'animes:episode' anime_slug=episode.anime.slug episode_slug=episode.slug %}">
        <div class="image_container">
            {% include "icons/image-outline.html" with size="64" %}
            {% if episode.image %}
            <img src="https://wsrv.nl/?url={{ episode.image }}" alt="{{ episode.name }}" />
            {% endif %}
        </div>
        <div class="infos">
            <span class="name">{{ episode.anime.name }}</span>
            <div class="description">
                <span class="episode">{{ episode.type|title }} {% if episode.number %}{{ episode.number|numberformat }}{% endif %}</span>
                {% if episode.season > 1 %}
                <span class="season logo_small">S. {{ episode.season }}</span>
                <span class="season logo_large">Saison {{ episode.season }}</span>
                {% endif %}
                <span class="version">{{ episode.version }}</span>
            </div>
        </div>
    </a>
</div>
