{% extends "overall.html" %}
{% load static %}

{% block title %}{{ episode.name }} - {{ block.super }}{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/episode.css' %}">
{% endblock %}

{% block content %}
<div class="episode">
    <div class="video_reader">
        <div class="videos">
        {% if previous %}
            <a class="command previous" href="{% url 'animes:episode' anime_slug=episode.anime.slug ep_slug=previous %}" title="Épisode précédent">
                {% include "icons/round-keyboard-arrow-left.html" with size="-1" %}
            </a>
        {% endif %}
        {% if next %}
            <a class="command next" href="{% url 'animes:episode' anime_slug=episode.anime.slug ep_slug=next %}" title="Épisode suivant">
                {% include "icons/round-keyboard-arrow-right.html" with size="-1" %}
            </a>
        {% endif %}
        {% for video_url in episode.video_urls.all %}
            <div id="video_{{ video_url.source }}" class="video {% if not forloop.first %}hidden{% endif %}" data-source="{{ video_url.source }}" data-url="{{ video_url.url }}">
                <iframe src="{{ video_url.url }}" frameborder="0" allowfullscreen></iframe>
            </div>
        {% endfor %}
            <div id="video_raw" class="video hidden" data-source="raw" data-url="">
                <video controls>
            </div>
        </div>
        <div class="infos">
            <div class="title">
                {{ episode.name }}
            </div>
            <div class="tabs">
            {% for video_url in episode.video_urls.all %}
                <div class="tab_button {% if forloop.first %}selected{% endif %}" onclick="selectVideo({{ forloop.counter0 }})">
                    {{ video_url.source|upper }}
                </div>
            {% endfor %}
                <div class="tab_button hidden" onclick="selectVideo({{ episode.video_urls.count }})">
                    RAW
                </div>
            </div>

            <div class="dropdown" onclick="() => {}">
                <span>:</span>
                <div class="dropdown_options">
                    <a href="{% url 'animes:anime_detail' episode.anime.slug %}" title="Aller vers l'anime">Anime</a>
                    <a href="{{ episode.mav_url }}" target="blank" rel="noreferrer noopener" title="Ouvrir dans mavanimes">Mav</a>
                    <span onclick="toggleSeenEpisode()" title="Marquer comme vu">
                        Vu
                        <span class="seen hidden">✔</span>
                    </span>
                    {% if user.is_superuser %}
                    <a href="{% url 'admin:animes_episode_change' episode.id %}" title="Ouvrir dans l'admin">Admin</a>
                    <span onclick="reportIssue({{ episode.anime.id }})" title="Remonter une erreur">Erreur</span>
                    <span title="Recharger l'épisode" onclick="sendReload({{ anime.id }})">
                        {% csrf_token %}
                        Recharger
                        {% comment %} <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 100 100">
                            <path fill="currentColor" d="M84.539 21.586a1.515 1.515 0 0 0-2.393-1.222l-5.944 4.261l-.468.337c-6.405-6.392-15.196-10.389-24.937-10.389c-19.535 0-35.427 15.894-35.427 35.428s15.893 35.428 35.427 35.428a35.42 35.42 0 0 0 29.374-15.618a1.77 1.77 0 0 0-.475-2.462l-8.863-6.151a1.9 1.9 0 0 0-2.628.512c-3.918 5.792-10.41 9.25-17.375 9.25c-11.558 0-20.962-9.402-20.962-20.957s9.404-20.957 20.962-20.957c4.878 0 9.352 1.696 12.914 4.5l-1.001.72l-5.948 4.26a1.513 1.513 0 0 0 .397 2.656l25.446 8.669c.461.161.966.083 1.368-.203c.399-.29.629-.747.627-1.231l-.094-26.831z"/>
                        </svg> {% endcomment %}
                    </span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<script lang="js" type="module">
    import { isSeenEpisode, seenEpisode, unseenEpisode } from '{% static "js/user_data.js" %}';

    const anime = '{{ episode.anime.slug }}';
    const episode = '{{ episode.slug }}';
    const seen = document.querySelector('.seen');
    let doesSeenEpisode = isSeenEpisode(anime, episode);
    if (doesSeenEpisode) {
        seen.classList.remove('hidden');
    }

    window.toggleSeenEpisode = () => {
        if (doesSeenEpisode) {
            unseenEpisode(anime, episode);
            seen.classList.add('hidden');
            doesSeenEpisode = false;
        } else {
            seenEpisode(anime, episode);
            seen.classList.remove('hidden');
            doesSeenEpisode = true;
        }
    }

    setTimeout(() => {
        console.log('Episode seen !')
        seenEpisode(anime, episode);
        seen.classList.remove('hidden');
        doesSeenEpisode = true;
    }, 60 * 10 * 1000);

    const tabs = document.querySelectorAll('.tab_button');
    const videos = document.querySelectorAll('.video');
    window.selectVideo = (id) => {
        for (const [i, video] of videos.entries()) {
            if (i === id) {
                video.classList.remove('hidden');
                tabs[i].classList.add('selected');
            } else {
                video.classList.add('hidden')
                tabs[i].classList.remove('selected');
            }
        }
    }
    {% if user.is_superuser %}
    window.sendReload = async (id) => {
        const csrf_token = document.getElementsByName('csrfmiddlewaretoken')[0].value;
        const reponse = await fetch('refresh/', { method: 'PATCH', headers: { "X-CSRFToken": csrf_token } });
        alert(await reponse.text());
    }

    window.reportIssue = (id) => {
        const msg = prompt('Quel est l\'erreur rencontrée ?', 'Test');
        console.log(msg);
    }

    async function getRawVideo () {
        const video = Array.from(videos).find(video => video.dataset.source === 'streamtape');
        if (!video) {
            console.warn('No streamtape source, raw video could not be generated.')
            return;
        }
        const response = await fetch(`/sources/${video.dataset.source}/?url=${video.dataset.url}`);
        if (!response.ok) {
            console.error(response);
            return;
        }
        const src = await response.text();
        document.querySelector('#video_raw').children[0].src = src;
        tabs[tabs.length -1].classList.remove('hidden');
    }

    getRawVideo();
    {% endif %}
</script>
{% endblock %}
