{% load numberformat %}

<div class="episode_snippet">
    {% if user.is_superuser %}
    <a href="{% url 'admin:animes_episode_change' film.id %}" class="to_admin" title="Ouvrir dans l'admin">
        @
    </a>
    {% endif %}
    <a href="{% url 'animes:episode' anime_slug=film.anime.slug episode_slug=film.slug %}">
        <div class="image_container">
            <svg width="64" height="64" viewBox="0 0 24 24"><path fill="currentColor" d="M5 21q-.825 0-1.413-.587Q3 19.825 3 19V5q0-.825.587-1.413Q4.175 3 5 3h14q.825 0 1.413.587Q21 4.175 21 5v14q0 .825-.587 1.413Q19.825 21 19 21Zm0-2h14V5H5v14Zm1-2h12l-3.75-5l-3 4L9 13Zm-1 2V5v14Z"/></svg>
            {% if film.image %}
            <img src="https://wsrv.nl/?url={{ film.image }}" alt="{{ film.name }}" />
            {% endif %}
        </div>
        <div class="infos">
            <span class="name">{{ film.anime.name }}</span>
            <div class="description">
            </div>
        </div>
    </a>
</div>
