.head_box {
    display: flex;
    margin-bottom: 20px;
}

.head_box .title {
    margin-right: 30px;
}

#search_input {
    width: 30vw;    
    background-color: inherit;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;

    outline: none;
}

.anime_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.anime_snippet {
    min-width: 200px;
    width: 500px;
}