.head_box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.head_box .title {
    margin-right: 30px;
}

#search_input {
    width: 30vw;
    background-color: inherit;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;

    outline: none;
}

.anime_list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.anime_snippet {
    min-width: 200px;
    width: 500px;
}

.anime_snippet .tags {
    display: flex;
    flex-wrap: wrap;
}

.anime_snippet .tag {
    font-size: small;
    padding: 0 3px;
    margin: 2px;
}

.anime_snippet .tag span {
    background: inherit;
    background-clip: text;
    color: transparent;
    filter: invert(1) grayscale(1) contrast(100);
}

.pagination {
    display: flex;
    margin: 20px auto;
}

.pagination > * {
    border: 1px solid var(--fore-color);
    border-left: none;
    padding: 5px 10px;
    font-size: small;
    font-weight: bold;
}

.pagination > *:first-child {
    border-left: 1px solid;
    border-radius: 5px 0 0 5px;
}

.pagination > *:last-child {
    border-radius: 0 5px 5px 0;
}
