.episode {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    max-width: 1280px;
}

.video_reader {
    margin: 20px;
}

.video_reader .buttons {
    display: flex;
    justify-content: space-between;
}

.video_reader .tabs {
    display: flex;
}

.video_reader .tabs .tab_button {
    background-color: var(--back-color);
    color: var(--fore-color);
    font-size: small;
    font-weight: bold;
    border-right: 1px solid;
    border-top: 1px solid;
    padding: 5px 10px;
}

.video_reader .tabs .tab_button:first-child {
    border-left: 1px solid;
    border-top-left-radius: 5px;
}

.video_reader .tabs .tab_button:last-child {
    border-top-right-radius: 5px;
}

.video_reader .tabs .tab_button:hover {
    cursor: pointer;
    filter: brightness(160%);
    transition: var(--universal-transition);
}

.video_reader .tabs .tab_button.selected {
    filter: brightness(140%);
}

.video_reader .command {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    width: 5vw;

    background-color: var(--back-color);
    filter: brightness(140%);
    opacity: 0;
}

.video_reader .command:hover {
    opacity: 100%;
    transition: var(--universal-transition);
}

.video_reader .command.previous {
    left: calc(-5vw - 1px);
    border-radius: 9999px 0 0 9999px;
}

.video_reader .command.next {
    right: calc(-5vw - 1px);
    border-radius: 0 9999px 9999px 0;
}

.video_reader .videos {
    position: relative;
    border: 1px solid;
    aspect-ratio: 16 / 9;
    height: min(calc(100vh - 240px), calc(80vw / (16 / 9)));
    min-height: 180px;
}

.video_reader .videos div,
.video_reader .videos iframe {
    width: 100%;
    height: 100%;
}
