.episode {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    max-width: 900px;
}

.video_reader {
    margin-top: 20px;
    width: 100%;
}

.video_reader .tabs {
    width: 100%;
    display: flex;
}

.video_reader .tabs .tab_button {
    background-color: var(--back-color);
    font-size: small;
    font-weight: bold;
    border-right: 1px solid;
    border-top: 1px solid;
    padding: 5px 10px;
}

.video_reader .tabs .tab_button:first-child {
    border-left: 1px solid;
    border-radius: 5px 0 0 0;
}

.video_reader .tabs .tab_button:last-child {
    border-radius: 0 5px 0 0;
}

.video_reader .tabs .tab_button:hover {
    cursor: pointer;
    filter: brightness(160%);
}

.video_reader .tabs .tab_button.selected {
    filter: brightness(140%);
}

.video_reader .videos {
    width: 100%;
    border: 1px solid;
}

.video_reader .videos .video {
    display: flex;
}

.video_reader .videos .video iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
}

.video_reader .controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    border-top: none;
}

.video_reader .controls * {
    flex: 1 0 none;
    padding: 5px 10px;
    text-align: center;
}

.video_reader .controls *:first-child,
.video_reader .controls *:last-child {
    width: 120px;
}
