.episode {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    max-width: 1280px;
}

.video_reader .command {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    width: 5vw;

    background-color: var(--back-color);
    filter: brightness(140%);
    opacity: 0;
}

.video_reader .command:hover {
    opacity: 100%;
    transition: var(--universal-transition);
}

.video_reader .command.previous {
    left: calc(-5vw - 1px);
    border-radius: 9999px 0 0 9999px;
}

.video_reader .command.next {
    right: calc(-5vw - 1px);
    border-radius: 0 9999px 9999px 0;
}

.video_reader .videos {
    position: relative;
    aspect-ratio: 16 / 9;
    width: var(--videos-width);
    min-width: var(--videos-min-width);
}

.video_reader .videos div,
.video_reader .videos iframe,
.video_reader .videos video {
    background-color: var(--secondary-back-color);
    width: 100%;
    height: 100%;
}

.video_reader .videos video {
    background-color: black;
}

.video_reader .infos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;

    width: var(--videos-width);
    min-width: var(--videos-min-width);
    padding-top: 10px;
    gap: 10px;
}

.video_reader .infos .title {
    font-size: large;
    font-weight: bold;
    color: var(--secondary-fore-color);
    flex: 1 0 auto;
}

.video_reader .infos .options {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.video_reader .infos .tabs {
    display: flex;
    align-self: center;
    gap: 2px;
}

.video_reader .infos .tabs .tab_button,
.video_reader .infos .dropdown {
    background-color: var(--secondary-back-color);
    color: var(--fore-color);
    font-size: small;
    font-weight: bold;
    padding: 5px 10px;
}

.video_reader .infos .tabs .tab_button:first-child {
    border-radius: 5px 0 0 5px;
}

.video_reader .infos .tabs .tab_button:last-child {
    border-radius: 0 5px 5px 0;
}

.video_reader .infos .tabs .tab_button:hover {
    cursor: pointer;
    filter: brightness(160%);
    transition: var(--universal-transition);
}

.video_reader .infos .dropdown:hover {
    cursor: pointer;
    transition: var(--universal-transition);
}

.video_reader .infos .tabs .tab_button.selected {
    filter: brightness(140%);
}

.video_reader .infos .dropdown {
    position: relative;
    border-radius: 5px;
}

.video_reader .infos .dropdown:hover .dropdown_options {
    display: block;
}

.video_reader .infos .dropdown_options {
    display: none;
    position: absolute;

    bottom: 100%;
    right: 0;

    overflow: auto;
    background-color: inherit;
    box-shadow: var(--generic-box-shadow);
}

.video_reader .infos .dropdown_options > * {
    display: block;
    padding: 5px 10px;
    font-weight: normal;
    background-color: var(--back-color);
    color: var(--fore-color);
}

.video_reader .infos .dropdown_options > *:hover {
    cursor: pointer;
    filter: brightness(160%);
    transition: var(--universal-transition);
}
