.weekly_episodes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.weekly_episodes > * {
    padding: 10px;
}

.weekly_episodes .date {
    font-variant: small-caps;
    font-size: x-large;
    font-weight: bold;
    color: var(--secondary-fore-color);
}

.no_episode {
    margin: 5px 0 5px 10px;
}

.episode:nth-child(odd) {
    background: rgba(var(--secondary-back-color), 0.6);
}

.episode_snippet,
.anime_snippet {
    position: relative;
    margin: 5px 0 5px 10px;
    background: var(--secondary-back-color);
    width: 400px;
}

.episode_snippet .to_admin,
.anime_snippet .to_admin {
    position: absolute;
    z-index: 90;
    top: 0;
    right: 0;

    padding: 0 4px;
    border-radius: var(--universal-border-radius);

    background-color: #AAAA;
    font-size: small;
}

.episode_snippet:hover,
.anime_snippet:hover {
    filter: brightness(120%);
}

.episode_snippet a,
.anime_snippet a {
    display: flex;
    color: inherit;
}

.episode_snippet .image_container,
.anime_snippet .image_container {
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
    background-color: grey;
    width: 110px;
    max-width: 110px;
    height: 82px;
    object-fit: cover;
}

.episode_snippet .image_container img,
.anime_snippet .image_container img {
    width: 110px;
    max-width: 110px;
    height: 82px;
    object-fit: cover;
}

.episode_snippet .infos,
.anime_snippet .infos {
    margin: 5px 10px;
    width: 100%;
}

.episode_snippet .infos .name,
.anime_snippet .infos .name {
    color: var(--secondary-fore-color);
    height: 48px;
}

.episode_snippet .infos .description,
.anime_snippet .infos .description {
    display: flex;
    justify-content: space-between;
}

.last_animes .section_name {
    font-variant: small-caps;
    font-size: x-large;
    font-weight: bold;
    color: var(--secondary-fore-color);
}

.last_animes_list .last_anime_name {
    padding: 5px 10px;
}

.last_animes_list .last_anime_name a {
    display: block;
    width: 100%;
}
