<footer>
    <div>
        <p>
            Ce site est un wrapper du site <a target="blank" rel="noreferrer noopener" href="http://www.mavanimes.co">mavanimes.co</a> pour en proposer une version plus lisible, récente, sécurisée et agréable à la navigation. A l'instar du site original, aucun contenu n'est hébergé dessus, il ne s'agit que d'une indexation de liens et lecteurs vidéos sur différents hébergeurs publiques et connus. N'étant qu'une surcouche, aucun contenu n'est géré sur ce site. En cas de lien mort, adressez vous directement au site mavanimes via les commentaires ou la chatbox.
        </p>
        <p>
            Par respect pour vos données personnelles, ce site n'utilise pas de cookie de navigation ni de tracker. En revanche, les liens de videos peuvent en utiliser.
        </p>
        <div class="copy-icons">
            <div>Synedh © 2024 - Mavanimes Wrapper - Tous droits réservés</div>
            <div>
                <a title="Twitter Synedh" target="blank" rel="noreferrer noopener" href="https://twitter.com/Synedh/">
                    {% include "icons/twitter.html" %}
                </a>
                <a title="Discord Mavanimes" target="blank" rel="noreferrer noopener" href="https://discord.gg/kkwagFE2By/">
                    {% include "icons/discord.html" %}
                </a>
            </div>
        </div>
    </div>
</footer>
