<header>
    <div>
        <a href="{% url 'index' %}" class="logo">
            <span class="mav">Mav</span>
            <span class="logo_large">animes</span>
            <span class="mav_wrapper logo_large">WRAPPER</span>
            <span class="mav_wrapper logo_small">W</span>
        </a>
        <div class="links">
            <a class="button-icon" href="{% url 'animes:anime_list' %}">
                Animes
            </a>
            <a class="button-icon" href="{% url 'movie_list' %}">
                Films
            </a>
            <a class="button-icon" href="{% url 'animes:calendar' %}">
                Calendrier sorties
            </a>
        </div>
    </div>
    {% if request.path != '/animes/' and request.path != '/films/' %}
    <div class="search">
        <form action="{% url 'animes:anime_list' %}">
            {% include "icons/search-outline.html" %}
            <input id="search_input" type="text" name="search" placeholder='Rechercher ("f")' autocomplete="off">
        </form>
    </div>
    {% endif %}
</header>
