{% extends "overall.html" %}

{% block head %}
<link href="/static/css/index.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="weekly_episodes">
{% for date, episodes in episodes_days %}
    <div class="date">
        {{ date|date:"l d F"|title }}
    </div>
    <div class="episodes">
    {% for episode in episodes %}
        <div class="episode">
            {% include "animes/episode_snippet.html" %}
        </div>
    {% empty %}
        <div class="no_episode">
            Aucune sortie
        </div>
    {% endfor %}
    </div>
{% endfor %}
</div>
{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}
